body{
  color:#272F32;
  font-family: "Dosis";
  background-color: #f0f0f0;
  background-image: url(img/bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto;
}

h4{
  margin-top:40px;
}

p{
  font-size: 16px;
  color:#fff;
  font-weight: 300;
}

.home-logo{
  width: 70px;
  height:auto;
  display: inline;
}
a{
  color:#272F32;
}
a:hover{
  text-decoration: none;
    color:#272F32;
}
a.ball{
  background-color:#222;
  text-decoration: none;
  display:inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding-top:97px;
  margin:0;
  border:none;
  width: 280px;
  height:280px;
}

a.ball > p{
  color:#777F82;
  margin-top:30px !important;
}
a.ball:hover > p{
  color:#979FA2;
}



.github{
  display: inline-block;
  margin-top:15px;
  opacity:0.75;
}
.github:hover{
  opacity:1;
}








.top10{margin-top:10px;}
.top20{margin-top:20px;}
.top30{margin-top:30px;}
.top40{margin-top:40px;}
.top50{margin-top:50px;}
.top60{margin-top:60px;}
.top70{margin-top:70px;}
.top80{margin-top:80px;}
.top90{margin-top:90px;}
.top100{margin-top:100px;}
.top150{margin-top:150px;}


.bottom10{margin-bottom:10px;}
.bottom20{margin-bottom:20px;}
.bottom30{margin-bottom:30px;}
.bottom40{margin-bottom:40px;}
.bottom50{margin-bottom:50px;}
.bottom60{margin-bottom:60px;}
.bottom70{margin-bottom:70px;}
.bottom80{margin-bottom:80px;}
.bottom90{margin-bottom:90px;}
.bottom100{margin-bottom:100px;}